<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/header.ejs') %>

  <div class="container-fluid frontPage">
    <p style="text-align: center;">
    <img id="stacks" src="https://media2.phoenixnewtimes.com/phx/imager/u/slideshow/11493922/best-record-stores-2020-phoenix-tempe-mesa.jpg" alt="">
    </p>
    <h1 id="frontH1" style="text-align: center;"> Re-Stocks and New Arrivals!! </h1>

    <ul id='recordList'>
      <div id="albumArt" class="row">
      <% for (let i = 0; i < records.length; i++) { %>
        <% if(records[i].newArrival === true) { %>


        <div class="col">
          <a style="text-decoration: none; color: black;" href="/<%=records[i].id%>">
        <li >
          <div class="card cardAlbum">

            <img class='images' src='<%=records[i].cover%>' />

           <div class="card-body">
             <h6 class="card-title" style="text-align: left;"><%=records[i].name%><br/><%=records[i].artist%></h6>

           </div>

          </div>

        </li>
        </a>
        </div>

        <% } %>
      <% } %>
      </div>
    </ul>
<%- include ('./partials/footer.ejs') %>
  </div>

</body>
</html>
