<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/header.ejs') %>


  <div class="container-fluid frontPage">
    <h1 id="frontH1" style="text-align: center;"> Re-Stocks and New Arrivals!! </h1>
    <ul id='recordList'>
      <% for (let i = 0; i < records.length; i++) { %>
        <li >
          <a href='/<%=records[i].id%>'>
          <img class='images' src='<%=records[i].cover%>' />
          </a>
        </li>

      <% } %>
    </ul>

<%- include ('./partials/footer.ejs') %>
  </div>


</body>
</html>
