<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/header.ejs') %>

<h1 style="text-align: center;"> Search Results </h1>

<ul id='recordList'>
  <div id="albumArt" class="row">
  <% for (let i = 0; i < records.length; i++) { %>

    <div class="col"
    <li >
      <div class="card" style="width: 18rem; margin: 10px;">
        <a href='/<%=records[i].id%>'>
        <img class='images' src='<%=records[i].cover%>' />
        </a>
       <div class="card-body">
         <h6 class="card-title" style="text-align: left;"><%=records[i].name%><br/><%=records[i].artist%></h6>

       </div>

      </div>
    </li>

    </div>


  <% } %>
  </div>
</ul>

  <%- include ('./partials/footer.ejs') %>
  </body>
</html>
