<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>


<body>
    <%- include ('./partials/header.ejs') %>

  <div class="container-fluid frontPage">
      <h1 style="text-align: center"><%=records.name%></h1>
      <h2 style="text-align: center"><%=records.artist%></h2>


  <div class='c' style="position: relative; left: 14%; margin-bottom: 10px;">

      <div class='cc'>
        <div id='previousbtn' class='carousel-button'>
          <span class='lnr lnr-chevron-left'></span>
        </div>
          <div class='carouselImages' style="box-shadow: 2px 2px 2px lightgrey;">

           <img src="<%=records.cover%>" />

           <img src="<%=records.backcover%>" />

           <img src="<%=records.addartwork%>" />

          </div>
        <div id='nextbtn' class='carousel-button'>
          <span class='lnr lnr-chevron-right'></span>
        </div>

      </div>
  </div>


  <div class="container-fluid" style="width: 50%;">
    <h4 style="text-align: center;">Track List</h4>


    <table class="table table-striped">
      <thead>
       <tr>
        <th>Track Title</th>
        <th>Author</th>
       </tr>
      </thead>
      <% for (let i = 0; i < records.tracklist.length; i++) { %>
       <tr>

        <td><%=records.tracklist[i].title%></td>
        <td><%=records.tracklist[i].author%></td>

        </tr>
      <% } %>
     </table>
  </div>
  <div class="container-fluid" style="width: 50%;">
    <h4 style="text-align: center;">Musicians</h4>

     <table class="table table-striped">
      <thead>
       <tr>
        <th>Name</th>
        <th>Instrument</th>
       </tr>
      </thead>
      <% for (let i = 0; i < records.musicians.length; i++) { %>
       <tr>

        <td><%=records.musicians[i].name%></td>
        <td><%=records.musicians[i].instrument%></td>

       </tr>
      <% } %>
     </table>
  </div>
    <h4 style="text-align: center;">Release Year: <%=records.year%></h4>
    <h4 style="text-align: center;"><%=records.label%></h4>
    <h4 style="text-align: center;">In Stock: <%=records.copies%></h4>

    <% if (currentUser) { %>

    <button type="button" class="btn btn-success" style="position: relative; left: 47%; margin-bottom: 10px;">
      <a style="text-decoration: none; color: white;" href="/<%=records.id%>/edit">Edit</a>
    </button>
    <% } %>


<%- include ('./partials/footer.ejs') %>

</div>
  </body>
</html>
